<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>发生错误</title>
  <link href="https://cdn.bootcdn.net/ajax/libs/mdui/1.0.2/css/mdui.min.css" rel="stylesheet">
</head>
<body class="mdui-theme-layout-auto mdui-typo">

  <div class="mdui-container mdui-p-t-5 mdui-p-b-5 mdui-text-center">
    <i class="mdui-icon material-icons mdui-text-color-red" style="font-size: 56px;">error_outline</i>
    <h2 class="mdui-typo-headline mdui-text-color-red mdui-m-t-2">请求处理失败</h2>
    <p class="mdui-typo-title mdui-m-t-3">连接后端服务器失败。</p>
    <p class="mdui-typo-subheading mdui-m-t-1">请稍后重试或联系管理员协助解决。</p>
  </div>

</body>
</html>