<style type="text/css" media="all">
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.border-left-primary {
    border-left: .25rem solid #4e73df!important;
}
.border-left-success {
    border-left: .25rem solid #1cc88a!important;
}
.border-left-info {
    border-left: .25rem solid #36b9cc!important;
}
.border-left-warning {
    border-left: .25rem solid #f6c23e!important;
}
.text-gray-300 {
    color: #dddfeb!important;
}
.text-gray-800 {
    color: #5a5c69!important;
}
.font-weight-bold {
    font-weight: 700!important;
}
.text-xs {
    font-size: .7rem;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.h-100 {
    height: 100%!important;
}
.py-2, .py-3 {
    padding-top: .5rem!important;
    padding-bottom: .5rem!important;
}
.py-3 {
    padding-top: .75rem!important;
    padding-bottom: .75rem!important;
}
.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}
.progress-sm {
    height: .5rem;
}
.card-body ul {
    padding-left: 1.2rem;
    line-height: 1.8;
}
</style>

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">处理器</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{$data.UsedCPU}% ({$data.CPUCores} Core)</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-microchip fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">内存</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{$data.UsedRam} MB / {$data.TotalRam} MB</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-memory fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">硬盘</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{$data.UsedDisk*100/$data.TotalDisk}%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: {$data.UsedDisk*100/$data.TotalDisk}%" aria-valuenow="{$data.UsedDisk*100/$data.TotalDisk}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-hdd fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">流量</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{$data.UseBandwidth} GB / {$data.Bandwidth} GB</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-exchange-alt fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">使用提示</h6>
    </div>
    <div class="card-body">
        <ul>
    <br/>
    - 1. 您的初始密码已在开通时设置，可直接用于登录。
    <br/>
    - 2. 部分操作(如创建、重装)响应较慢，请耐心等待，不要离开页面。
    <br/>  
    - 3. 创建、重装后SSH端口转发已自动为您重新配置。
    <br/>
        </ul>
    </div>
</div>