<style type="text/css" media="all">
    .error-container {
        text-align: center;
        padding-top: 50px;
    }
    .error-code {
        font-size: 7rem;
        color: #5a5c69;
        position: relative;
        line-height: 1;
    }
    .error-msg {
        font-size: 1.5rem;
        color: #858796;
    }
     .error-info {
        font-size: 0.9rem;
        color: #b7b9cc;
    }
</style>

<div class="container-fluid error-container">
    <div class="error-code" data-text="{$error.code|default='错误'}">{$error.code|default='错误'}</div>
    <p class="error-msg">{$error.msg|default='发生了一个错误。'}</p>
    {if isset($error.info) && $error.info}
    <p class="error-info">详细信息: {$error.info}</p>
    {/if}
    <a href="javascript:history.back()">&larr; 返回上一页</a>
</div>
