<embed width="770" height="500" src="" id="kzt"/>

<script type="text/javascript" charset="utf-8">
    function getURL(){
        var body = {"func":"Vnc"}
        $.post("{$MODULE_CUSTOM_API}",body,function(data,status){
            if(data.status != "200"){
                alert("无法连接至控制台")
                return
            }
            window.open (data.url, "控制台VNC", "height=500, width=700, top=50%, left=50%, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=yes");
        })
    }

    function ajax(options){
        var xhr = new XMLHttpRequest() || new ActiveXObject("Microsoft,XMLHTTP");
        var str = "";
        if(typeof(options.data)!='string'){
            for(var key in options.data){
                str+="&"+key+"="+options.data[key];
            }
            str = str.slice(1)
        }else{
            str = options.data;
        }
        
        options.dataType=options.dataType||'json';
        if(options.type == "get"){
            var url = options.url+"?"+str;
            xhr.open("get",url);
            xhr.setRequestHeader("Authorization","JWT {$Think.get.jwt}");
            xhr.send();
        }else if(options.type == "post"){
            xhr.open("post",options.url);
            xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
            xhr.setRequestHeader("Authorization","JWT {$Think.get.jwt}");
            xhr.send(str)
        }
        xhr.onreadystatechange = function(){
            if(xhr.readyState == 4 && xhr.status == 200){
                var d = xhr.responseText;
                d = JSON.parse(d);
                options.success&&options.success(d,xhr.responseXML)
            }else if(xhr.status != 200){
                options.error&&options.error(xhr.status);
            }
        }
    }
</script>
