<div class="row">
    <div class="col-xl-8 col-xs-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">网络详细信息</h6>
            </div>
            <div class="card-body table-responsive mx-table">
                <table class="table table-hover t-text-dark--light-15 sm-text">
                    <thead>
                    <tr>
                        <th>项目</th>
                        <th>值</th>
                    </tr>
                    </thead>
                    <tbody class="t-mt-15">
                    <tr>
                        <td>内网IP地址</td>
                        <td>{$network.ip|default:$params.dedicatedip}</td>
                    </tr>
                    <tr>
                        <td>子网掩码 (CIDR)</td>
                        <td>{$network.mask|default:$params.configoptions.Mask}</td>
                    </tr>
                    <tr>
                        <td>网关地址</td>
                        <td>{$network.gw|default:$params.configoptions.gateway}</td>
                    </tr>
                    <tr>
                        <td>网卡名称</td>
                        <td>{$network.name|default:"N/A"}</td>
                    </tr>
                    <tr>
                        <td>MAC地址</td>
                        <td>{$network.hwaddr|default:"N/A"}</td>
                    </tr>
                     <tr>
                        <td>DNS服务器</td>
                        <td>{$params.configoptions.dns|default:"未配置"}</td>
                    </tr>
                    <tr>
                        <td>公网访问IP</td>
                        <td>{$network.public_ip_for_display|default:"请在端口映射页面查看具体映射"}</td>
                    </tr>
                    </tbody>
                </table>
                <small class="form-text text-muted">如果您的容器配置了通过NAT访问公网，实际的公网出口IP和端口请参考“端口映射”页面中的规则。</small>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-xs-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">带宽信息</h6>
            </div>
            <div class="card-body">
                <table class="table table-hover t-text-dark--light-15 sm-text">
                    <tbody>
                    <tr>
                        <td>出口带宽:</td>
                        <td>{$params.configoptions_upgrade.network|default:"N/A"} Mbps</td>
                    </tr>
                    <tr>
                        <td>入口带宽:</td>
                        <td>{$params.configoptions_upgrade.network|default:"N/A"} Mbps</td>
                    </tr>
                    <tr>
                        <td>可用流量:</td>
                        <td>不受限制</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
